@font-face {
    font-family: 'Globotipo Rounded';
    src: url(fonts/globo.ttf);
    font-weight: normal;
  }

  @font-face {
    font-family: 'Globotipo Rounded';
    src: url(fonts/globold.ttf);
    font-weight: bold;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    

    &::before,&::after {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
}

body {
    overflow-x: hidden;
    background-color: $bgcolor;
    
}

html {

    font-family: 'Globotipo Rounded', sans-serif;
}

a,
a:visited {
    color: inherit;
  
}

h2 {

    font-size: 36px;
    text-align: center;
    margin-bottom: 60px;
    color: $purple;
    font-weight: bold;

}