.instructions {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 300px auto 300px auto;
    text-align: center;

    h2 {

        font-size: 36px;
        text-align: center;
        margin-bottom: 60px;
        color: $purple;

    }

    .top-ornament {

        margin-bottom: 30px;

        @media only screen and (max-width: 800px) {  
                            
            width: 80%;
        }
    }

.instructions__container {

    max-width: 1200px;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 620px) {  
                            
        gap: 30px;
    }

    .instructions__card {

        display: flex;
        flex-direction: column;
        align-items: center; 
        max-width: 280px;
        text-align: center;
        padding: 20px;

        .card__animation {

            width: 200px;

        }

        h3 {

            font-size: 21px;
            margin-top: 20px;
            color: $purple;
            
        }

        p {

            font-size: 16px;
            margin-top: 20px;
            color: $gray-font;
        }
    }
  } 

  .bottom-ornament {

    margin-top: 30px;

    @media only screen and (max-width: 800px) {  
                            
        width: 80%;
    }
 }
}