* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: 'Globotipo Rounded', sans-serif;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

header {
  width: 100vw;
  height: 100vh;
  background: #2ee6ff;
  background: linear-gradient(79deg, #2ee6ff 0%, #01b7ff 6%, #0ea7ff 14%, #5e4eff 69%, #7e2bff 86%, #a42bff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border-radius: 0 0 10rem 10rem;
}

header .hero-description {
  width: 48rem;
  line-height: 1.2;
  color: white;
}

header .hero-description h1 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

header .hero-description p {
  font-size: 2.2rem;
  line-height: 1.4;
  width: 42rem;
  margin-bottom: 2rem;
}

header .hero-description button {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Globotipo Rounded';
  padding: 1.2rem 3rem;
  border-radius: 60px;
  background-color: white;
  border: none;
  color: #4D05EB;
  margin-right: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

header .hero-description button:hover {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

header .hero-img {
  width: 60rem;
}

header .globo-outline {
  position: absolute;
  top: -2rem;
  left: -2rem;
}

.container {
  max-width: 80rem;
  margin: auto;
  height: auto;
  gap: 4rem;
  background-color: #f1f1f1;
  padding: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card-up {
  width: 58rem;
}

.container .second-card {
  width: 40rem;
}

.container .card {
  width: 28rem;
  margin-left: 2rem;
}

.shirt-hover_balloon {
  width: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .8rem 1rem;
  border-radius: .6rem;
  -webkit-box-shadow: -2px 4px 6px -1px rgba(0, 0, 0, 0.09);
          box-shadow: -2px 4px 6px -1px rgba(0, 0, 0, 0.09);
  position: relative;
}

.shirt-hover_balloon::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -.8rem;
  text-align: center;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  border-radius: 1rem;
}

.shirt-hover_balloon .shirt-team-name {
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: red;
}

.social-media-name-hover_balloon {
  max-width: 10rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: .6rem .8rem;
  border-radius: .6rem;
  -webkit-box-shadow: -2px 4px 6px -1px rgba(0, 0, 0, 0.09);
          box-shadow: -2px 4px 6px -1px rgba(0, 0, 0, 0.09);
  position: relative;
}

.social-media-name-hover_balloon::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -.8rem;
  text-align: center;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  border-radius: 1rem;
}

.social-media-name-hover_balloon .social-media-name {
  display: block;
  font-size: 1.3rem;
  font-size: bold;
  line-height: 1;
  color: #06AA48;
}
/*# sourceMappingURL=main.css.map */