* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #F8F8F8;
}

html {
  font-family: 'Globotipo Rounded', sans-serif;
}

a,
a:visited {
  color: inherit;
}

.hero {
  width: 100vw;
  background: #2ee6ff;
  background: linear-gradient(79deg, #2ee6ff 0%, #01b7ff 6%, #0ea7ff 14%, #5e4eff 69%, #7e2bff 86%, #a42bff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 100px 100px;
  color: white;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .hero {
    border-radius: 0 0 50px 50px;
  }
}

.hero header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .hero header {
    height: 85px;
    padding: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  padding: 30px 20px 0 20px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .hero header ul {
    font-size: 16px;
    gap: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .hero header ul {
    display: none;
  }
}

.hero header ul li {
  text-align: center;
  cursor: pointer;
}

.hero header ul li .hero__login-button {
  font-size: 20px;
  padding: 8px 40px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Globotipo Rounded';
  background-color: white;
  color: #521BEA;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .hero header ul li .hero__login-button {
    font-size: 16px;
    padding: 6px 22px;
  }
}

.hero header .hero__login-button-mobile {
  font-size: 16px;
  padding: 6px 40px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Globotipo Rounded';
  background-color: white;
  color: #521BEA;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 800px) {
  .hero header .hero__login-button-mobile {
    display: block;
  }
}

.hero header .fas {
  font-size: 22px;
  display: none;
}

@media only screen and (max-width: 800px) {
  .hero header .fas {
    display: block;
  }
}

.hero .hero__container {
  max-width: 1200px;
  margin: 150px auto;
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .hero .hero__container {
    max-width: 90%;
    gap: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .hero .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 80px auto;
  }
}

.hero .hero__container .hero__content {
  width: 420px;
}

@media only screen and (max-width: 800px) {
  .hero .hero__container .hero__content {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .hero__container .hero__content {
    width: 90%;
  }
}

.hero .hero__container .hero__content .hero__call-to-action {
  line-height: 1;
  font-weight: normal;
  font-size: 48px;
}

@media only screen and (max-width: 1200px) {
  .hero .hero__container .hero__content .hero__call-to-action {
    font-size: 30px;
  }
}

.hero .hero__container .hero__content .hero__description {
  margin: 24px 0;
  line-height: 1.2;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .hero .hero__container .hero__content .hero__description {
    font-size: 18px;
  }
}

.hero .hero__container .hero__content .hero__btn1 {
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Globotipo Rounded';
  background-color: white;
  color: #521BEA;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .hero .hero__container .hero__content .hero__btn1 {
    font-size: 16px;
    padding: 6px 22px;
  }
}

.hero .hero__container .hero__content .hero__btn2 {
  font-size: 20px;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Globotipo Rounded';
  border: 1px white solid;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .hero .hero__container .hero__content .hero__btn2 {
    font-size: 16px;
    padding: 6px 22px;
    margin-left: 5px;
  }
}

.hero .hero__container .hero__animation {
  width: 650px;
}

@media only screen and (max-width: 800px) {
  .hero .hero__container .hero__animation {
    width: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .hero__container .hero__animation {
    width: 90%;
  }
}

.hero .globo-outline-1 {
  width: 450px;
  position: absolute;
  top: -50px;
  left: -50px;
}

@media only screen and (max-width: 800px) {
  .hero .globo-outline-1 {
    width: 210px;
  }
}

.hero .globo-outline-2 {
  width: 200px;
  position: absolute;
  bottom: -90px;
  left: 700px;
}

@media only screen and (max-width: 1200px) {
  .hero .globo-outline-2 {
    left: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .hero .globo-outline-2 {
    display: none;
  }
}

.globo_conecta-outline {
  display: block;
  width: 240px;
  margin: 80px auto;
}

.como-funciona__container {
  max-width: 1200px;
  margin: 180px auto;
}

@media only screen and (max-width: 600px) {
  .como-funciona__container {
    width: 100%;
  }
}

.como-funciona__container h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  color: #4E25E5;
}

.como-funciona__container .content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 0 80px;
}

@media only screen and (max-width: 800px) {
  .como-funciona__container .content__container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 600px) {
  .como-funciona__container .content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
}

.como-funciona__container .content__container p {
  font-size: 22px;
  width: 500px;
  color: #6D6D6D;
}

@media only screen and (max-width: 1200px) {
  .como-funciona__container .content__container p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .como-funciona__container .content__container p {
    width: 100%;
  }
}

.como-funciona__container .content__container .como-funciona__animation {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .como-funciona__container .content__container .como-funciona__animation {
    width: 100%;
    margin: 30px auto;
  }
}

.ornament1 {
  width: 36px;
  height: 8px;
  background-color: #6f00ff;
  border-radius: 1rem;
  margin: 0 auto;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 800px;
  overflow: hidden;
  border-radius: 0 50px 0 50px;
  position: relative;
  background-image: url("img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: bgfade 1s ease-in-out;
          animation: bgfade 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bgfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider .bg {
  width: 100%;
}

.slider .cellphone {
  position: absolute;
  right: 0;
  bottom: -100%;
  width: 31%;
  -webkit-animation: fromBottom 2s ease-in-out;
          animation: fromBottom 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fromBottom {
  from {
    -webkit-transform: translateY(100%) rotate(-65deg);
            transform: translateY(100%) rotate(-65deg);
    bottom: -100%;
  }
  to {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    bottom: 0;
  }
}

@keyframes fromBottom {
  from {
    -webkit-transform: translateY(100%) rotate(-65deg);
            transform: translateY(100%) rotate(-65deg);
    bottom: -100%;
  }
  to {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    bottom: 0;
  }
}

@media only screen and (max-width: 1400px) {
  .slider .cellphone {
    width: 40%;
  }
}

@media only screen and (max-width: 1000px) {
  .slider .cellphone {
    width: 55%;
  }
}

.slider .tag {
  width: 600px;
  position: absolute;
  top: 100px;
  left: 100px;
  -webkit-animation: fromleft 1s ease-in-out;
          animation: fromleft 1s ease-in-out;
}

@-webkit-keyframes fromleft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromleft {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media only screen and (max-width: 1400px) {
  .slider .tag {
    width: 400px;
  }
}

.ornament2 {
  width: 36px;
  height: 8px;
  background-color: #6f00ff;
  border-radius: 1rem;
  margin: 0 auto;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  z-index: -1;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 300px auto 300px auto;
  text-align: center;
}

.instructions h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
  color: #4E25E5;
}

.instructions .top-ornament {
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .instructions .top-ornament {
    width: 80%;
  }
}

.instructions .instructions__container {
  max-width: 1200px;
  gap: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 620px) {
  .instructions .instructions__container {
    gap: 30px;
  }
}

.instructions .instructions__container .instructions__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  text-align: center;
  padding: 20px;
}

.instructions .instructions__container .instructions__card .card__animation {
  width: 200px;
}

.instructions .instructions__container .instructions__card h3 {
  font-size: 21px;
  margin-top: 20px;
  color: #4E25E5;
}

.instructions .instructions__container .instructions__card p {
  font-size: 16px;
  margin-top: 20px;
  color: #6D6D6D;
}

.instructions .bottom-ornament {
  margin-top: 30px;
}

@media only screen and (max-width: 800px) {
  .instructions .bottom-ornament {
    width: 80%;
  }
}

.simples-assim {
  display: block;
  width: 600px;
  margin: 0 auto 300px auto;
}

.advantages {
  width: 100%;
  background: linear-gradient(145deg, #0ea7ff 0%, #0ea7ff 7%, #5e4eff 41%, #7e2bff 75%, #a42bff 100%);
  border-radius: 50px;
  padding: 120px 0;
  position: relative;
}

.advantages h4 {
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 90px;
}

.advantages .globo-conecta-logo-outline {
  width: 400px;
  position: absolute;
  bottom: -90px;
  right: -90px;
  opacity: .3;
}

.advantages .advantages__container {
  max-width: 900px;
  margin: auto;
}

.advantages .advantages__container .advantages__animation {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */