.simples-assim {

    display: block;
    width: 600px;
    margin: 0 auto 300px auto;

}

.advantages {

    width: 100%;
    background: linear-gradient(145deg, rgba(14,167,255,1) 0%, rgba(14,167,255,1) 7%, rgba(94,78,255,1) 41%, rgba(126,43,255,1) 75%, rgba(164,43,255,1) 100%);
    border-radius: 50px;
    padding: 120px 0;
    position: relative;

    h4 {
        font-size: 36px;
        color: white;
        text-align: center;
        margin-bottom: 90px;
    }

    .globo-conecta-logo-outline {
        
        width: 400px;
        position: absolute;
        bottom: -90px;
        right: -90px;
        opacity: .3;

    }

    .advantages__container {

        max-width: 900px;
        margin: auto;

        .advantages__animation {

            width: 100%;
        }
    }

}   