.como-funciona__container {

    max-width: 1200px;
    margin: 180px auto 300px auto;
    position: relative;



    @media only screen and (max-width: 600px) {

        width: 100%;
    }

    .content__container {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding: 0 80px;
        display: none;
        animation: appearBottom 2s ease-in-out;
        animation-fill-mode: backwards;
        

        @media only screen and (max-width: 800px) {  
                            
            padding: 0 40px;
        }

        @media only screen and (max-width: 600px) {  
                            
            flex-direction: column;;
            text-align: center;
            padding: 0 20px;
        }

        p {
            font-size: 22px;
            width: 500px;
            color: $gray-font;

            @media only screen and (max-width: 1200px) {  
                            
                font-size: 18px;
            }

            @media only screen and (max-width: 600px) {

                width: 90%;
            }
        }

        .como-funciona__animation {

            width: 400px;

            @media only screen and (max-width: 600px) {

                width: 100%;
                margin: 30px auto;
            }
        }
    }

    .globo-outline-gray {
         
        width: 300px;
        position: absolute;
        bottom: -940px;
        left: -370px;

        @media only screen and (max-width: 600px) {
            bottom: -300px;
            width: 200px;
        }
    }
}