.ornament1 {

    width: 36px;
    height: 6px;
    background-color: rgb(111, 0, 255);
    border-radius: 20px 20px 0 0 ;
    margin: 0 auto;

}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    overflow: hidden;
    border-radius:  0 100px 0 100px;
    position: relative;
    background-image: url("img/slider-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: sliderBg 24s infinite;


    .bg{

        width: 100%;

    }

    .cellphone {
        
        position: absolute;
        right: 0;
        bottom: -100%;
        width: 31%;
        animation: fromBottomSlider 24s ease-in-out infinite;
        animation-fill-mode: backwards;



        @media only screen and (max-width: 1400px) {

            width: 40%;

        }

        @media only screen and (max-width: 1000px) {

            width: 55%;

        }

        @media only screen and (max-width: 600px) {

            width: 75%;

        }

        @media only screen and (max-width: 460px) {

            width: 100%;
            right: -60px;

        }

        &.cellphone1 {

            animation-delay: -1s;

        }

        &.cellphone2 {
            
            animation-delay: 7s;

        }

        &.cellphone3 {

            animation-delay: 15s;

        }
    }
    

    .tag {
     
       width: 600px;
       position: absolute;
       top: 100px;
       left: 100px;
       animation: fromleftSlider 24s ease-in-out infinite;
       animation-fill-mode: backwards;


       &.tag1 {

        animation-delay: -1s;

       }

       &.tag2 {

        animation-delay: 7s;

       }

       &.tag3 {

        animation-delay: 15s;

       }


    @media only screen and (max-width: 1400px) {

        width: 400px;

    }

    @media only screen and (max-width: 1000px) {

        left: 20px;

    }

    @media only screen and (max-width: 600px) {

        width: 280px;

    }

    }
}

.ornament2 {

    width: 36px;
    height: 6px;
    background-color: rgb(111, 0, 255);
    border-radius: 0 0 20px 20px;
    margin: 0 auto;

}