.secondary-call-to-action {

    display: block;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
    color: #882BFF;
}

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    position: relative;

    .footer__button {

        font-size: 20px;
        padding: 14px 60px;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        font-family: 'Globotipo Rounded';
        background-color: white;
        color: #521BEA;
        cursor: pointer;
        margin-bottom: 160px;
        box-shadow: -2px 4px 6px -1px rgba(0,0,0,0.1);
        transition: .3s;

        &:hover {
            background-color: #521BEA;
            color: #ffffff;
            transform: translateY(2px);
            box-shadow: -2px 4px 6px -1px rgba(0,0,0,0);
        }
    }

    .footer-animation {

        width: 800px;

        @media only screen and (max-width: 800px) {

            width: 80%;
        }
    }
}

.globo-outline-gray {
    width: 340px;
    position: absolute;
    right: 0px;
    transform: translateY(-1000px);

    @media only screen and (max-width: 600px) {

        width: 190px;
        right: 10px;
    }
}