.container {

    width: 100%;
    height: auto;
    background-color: rgb(241, 241, 241);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {

        width: 26rem;
        margin-left: 2rem;

    }

}