.container {

    width: 100%;
    height: auto;
    background-color: gray;
    padding: 4rem;

    .video {

        max-width: 110rem;
        height: 40rem;
        background-color: rgb(63, 63, 63);
        margin: 0 auto;

    }
}