.container {

    max-width: 80rem;
    margin: auto;
    height: auto;
    gap: 4rem;
    background-color: rgb(241, 241, 241);
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    .card {

        width: 28rem;
        margin-left: 2rem;
    }
}