
    .hero {

        width: 100vw;
        background: rgb(46,230,255);
        background: linear-gradient(145deg, rgba(14,167,255,1) 0%, rgba(14,167,255,1) 7%, rgba(94,78,255,1) 41%, rgba(126,43,255,1) 75%, rgba(164,43,255,1) 100%);
        display: flex;
        flex-direction: column;
        border-radius:  0 0 100px 100px;
        color: white;
        overflow: hidden;

        @media only screen and (max-width: 800px) {  

            border-radius:  0 0 50px 50px;
        }

        header{

            display: flex;
            justify-content: center;
            width: 100%;
            font-family: 'Globotipo Rounded';

            @media only screen and (max-width: 800px) {  

                height: 85px;
                padding: 0 30px;
                justify-content: space-between;
                align-items: center;
            }

            ul {

                display: flex;
                align-items: center;
                gap: 80px;
                padding: 30px 20px 0 20px;
                font-size: 20px;

                @media only screen and (max-width: 1200px) {
                    font-size: 16px;
                    gap: 40px;
                }

                @media only screen and (max-width: 800px) {
                    display: none;
                }

                li {

                    text-align: center;
                    cursor: pointer;

                    &::after {

                        content: '';
                        display: block;
                        margin: auto;
                        height: 1px;
                        width: 0px;
                        background: rgb(255, 255, 255);
                        transition: all 0.2s linear;
                    }

                    &:hover::after{

                        width: 70%;
                    }

                    &:last-child::after {
                        display: none;
                    }

                    .hero__login-button {
                        font-size: 20px;
                        padding: 8px 40px;
                        border: none;
                        border-radius: 30px;
                        font-weight: bold;
                        font-family: 'Globotipo Rounded';
                        background-color: white;
                        color: #521BEA;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            background-color: #521BEA;
                            color: #ffffff;
                            transform: translateY(-2px)
                        }

                        @media only screen and (max-width: 1200px) {  
                            
                            font-size: 16px;
                            padding: 6px 22px;
                        }
                    }
                }
            }

            .hero__login-button-mobile {
                font-size: 16px;
                padding: 6px 40px;
                border: none;
                border-radius: 30px;
                font-weight: bold;
                font-family: 'Globotipo Rounded';
                background-color: white;
                color: #521BEA;
                cursor: pointer;
                display: none;

                @media only screen and (max-width: 800px) {  
                    
                    display: block;
                }
            }
            .logo-white {
                width: 120px;
                display: none;

                @media only screen and (max-width: 800px) {  
                    
                    display: block;
                }
            }
        }

        .hero__container {

            max-width: 1200px;
            margin: 150px auto;
            gap: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width: 1200px) {  

                max-width: 90%;
                gap: 30px;
            }

            @media only screen and (max-width: 800px) {  

                flex-direction: column;
                text-align: center;
                margin: 80px auto;
            }

            .hero__content {

                width: 420px;
                // border: 1px blue solid;

                @media only screen and (max-width: 800px) {  

                    margin-bottom: 30px;
                }

                @media only screen and (max-width: 600px) {  

                    width: 90%;;
                }

                .hero__call-to-action {

                    line-height: 1;
                    font-weight: normal;
                    font-size: 48px;
                    animation: appearTop 1s ease-in-out;

                    @media only screen and (max-width: 1200px) {  

                        font-size: 30px;
                    }

                }

                .hero__description {

                    margin: 24px 0;
                    line-height: 1.2;
                    font-size: 20px;
                    animation: appearTop 1s ease-in-out;
                    animation-delay: .5s;
                    animation-fill-mode: backwards;

                    @media only screen and (max-width: 1200px) {  

                        font-size: 18px;
                    }
                    
                }

                .hero__btn1 {

                    font-size: 20px;
                    padding: 10px 40px;
                    border: none;
                    border-radius: 30px;
                    font-weight: bold;
                    font-family: 'Globotipo Rounded';
                    background-color: white;
                    color: #521BEA;
                    cursor: pointer;
                    transition: .3s;
                    animation: 1s appearBottom ease-in-out;
                    animation-delay: 1s;
                    animation-fill-mode: backwards;

                    &:hover {
                        background-color: #521BEA;
                        color: #ffffff;
                        transform: translateY(-2px)
                    }

                    @media only screen and (max-width: 1200px) {  

                        font-size: 16px;
                        padding: 6px 22px;
                    }
                }

                .hero__btn2 {

                    font-size: 20px;
                    padding: 10px 40px;
                    border: none;
                    border-radius: 30px;
                    font-weight: bold;
                    font-family: 'Globotipo Rounded';
                    border: 1px white solid;
                    background-color: transparent;
                    color: white;
                    cursor: pointer;
                    margin-left: 20px;
                    transition: .3s;
                    animation: 1s appearBottom ease-in-out;
                    animation-delay: 1s;
                    animation-fill-mode: backwards;


                    &:hover {

                        transform: translateY(-2px)
                    }

                    @media only screen and (max-width: 1200px) {  

                        font-size: 16px;
                        padding: 6px 22px;
                        margin-left: 5px;
                    }
                }
            }

            .hero__animation {

                width: 650px;
                // border: 1px red solid;

                @media only screen and (max-width: 800px) {  

                    width: 450px;
                }

                @media only screen and (max-width: 600px) {  

                    width: 90%;;
                }
            }
        }

        .globo-outline-1 {

            width: 450px;
            position: absolute;
            top: -50px;
            left: -50px;

            @media only screen and (max-width: 800px) {  

                width: 210px;
            }
        }

        .globo-outline-2 {

            width: 200px;
            position: absolute;
            bottom: -90px;
            left: 700px;

            @media only screen and (max-width: 1200px) {  

                left: 400px;
            }

            @media only screen and (max-width: 600px) {  

                display: none;
            }
        }
    }

    .globo_conecta-outline {
        display: block;
        width: 240px;
        margin: 80px auto;
        animation: appearTop 1s ease-in-out;
    
    }
    
